doctype html 
html 
  head 
    meta(charset='utf-8')
    title Manager
    link(rel='stylesheet', href='/css/style.css')
 body
   h1 Manager
   nav 
    ul
      li: a(href='/') Home
      li: a(href='/about') About
      li: a(href='/faq') Faq
      li: a(href='/contact') Contact
      li: a(href='/priorities') Priorities
      li: a(href='/priorities/new') New Priority
      li: a(href='/tasks') View Tasks
      li: a(href='/tasks/new') New Task

  block content
